.details{
    &-container{
        display: flex;
        // display: none;
        gap: 0 30px;
        padding-bottom: 100px;
    }
    display: flex;
    &-menu{
        width: 16.6666%;
        background-color: rgba($color: #fff, $alpha: 0.4);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 34px;
        max-height: 610px;
    }
    .details-item.active{
        color: #fff;
        background-image: linear-gradient(to right, #ff6ca2, #ffa424); 
    }
    .details-tab.active{
        display: block;
    }
    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 120px;
        height: 120px;
        font-size: 50px;
        border-radius: 34px;
        margin-top: 25px;
        box-shadow: 0px 3px 8px rgb(46, 46, 46);
        cursor: pointer;
        h3{
            margin-top: 10px;
            font-size: 16px;
            font-weight: 600;
        }
    }
    &-value{
        width: 83.3333%;
        background-color: rgba($color: #fff, $alpha: 0.4);
        border-radius: 34px;
        padding: 25px;
    }
    .introduce{
        display: none;
        &-list{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px 30px;
        }
        &-link{
            // border-radius: 34px;
        }
        &-image{
            border-radius: 34px;
            overflow: hidden;
            box-shadow: 0px 3px 8px rgb(46, 46, 46);
            img{
                transition: all .2s linear;
            }
            img:hover{
                transform: scale(1.1);
            }
        }
        &-web{
            text-align: center;
            color: $heading-color;
            font-size: 18px;
            font-weight: 500;
            margin-top: 10px;
        }
    }
    .education{
        display: none;
    }
    .target{
        display: none;
    }
    
}
@media (max-width: 900px) {
    .details-container{
        flex-direction: column;
        gap: 30px 0;
        padding-bottom: 40px;
    }
    .details-menu{
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        // margin: 0;
    }
    .details-item{
        margin: 8px 0;
        width: 100px;
        height: 100px;
        font-size: 40px;
    }
    .details-value{
        width: 100%;
    }
}
@media (max-width: 600px) {
    .details-item{
        margin: 8px 0;
        width: 68px;
        height: 68px;
        font-size: 30px;
        h3{
            margin-top: 4px;
            font-size: 10px;
            font-weight: 400;
        }
    }
    .introduce{
        &-list{
            grid-template-columns: 1fr !important;
        }
    }
    .details-menu{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
        z-index: 3;
        background-color: #fff;
    }
    .details-item{
        width: 80px;
        height: 80px;
        border-radius: 15px;
        // box-shadow: 0px 3px 8px rgb(46, 46, 46);
    }
}